@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-font: "Inter", sans-serif;
  --regular-bold: 300;
  --medium-bold: 600;
  --main-color: #990F4B;
  --secondary-color: #fff;
  --tertiary-color: #555151;
  --xx-large-font: 38px;
  --large-font: 24px;
  --medium-font: 20px;
  --regular-font: 16px;
  --small-font: 14px;
}


