.container {
  background-color: var(--tertiary-color);
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  font-family: var(--main-font);
}

.infoContainer {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: var(--large-font);
  font-weight: var(--medium-bold);
  padding: 80px 0 5px;
}

.description {
  width: 775px;
  font-size: var(--small-font);
}

.plansDisplay {
  display: flex;
  gap: 70px;
  margin: 50px 0 10px;
}

.plansCard {
  position: relative;
}

.links {
  width: 100px;
  text-align: center;
  position: absolute;
  top: 145px;
  left: 37%;
  background-color: var(--main-color);
  padding: 5px 10px;
  border-radius: 10px;
  color: var(--secondary-color);
  box-shadow: 5px 5px 15px #888888;
  border: 1px solid #ffffff00;
}

.links:hover {
  background-color: var(--secondary-color);
  color: var(--main-color);
  border: 1px solid var(--main-color);
}

.cardInfo {
  width: 100%;
  max-width: 350px;
  background-color: var(--septenary-color);
  border: 1px solid var(--secondary-color);
  padding: 30px 0 20px;
}



.planPrice {
  text-align: center;
  font-size: var(--large-font);
  font-weight: var(--medium-bold);
}

.planInfo {
  display: flex;
  flex-direction: column;
  gap: 13px;
  padding: 25px 40px 5px;
  font-size: var(--small-font);
}

/* Tablet Size (iPad Air) */
@media only screen and (max-width: 900px) {
  .infoContainer {
    width: 660px;
  }
  .description {
    width: 600px;
    text-align: center;
  }
}