.container {
  position: relative;
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: center;
  margin: 70px 0 0;
}

.backgroundImg {
  position: absolute;
  width: 100%;
  z-index: -1;
}

.infoContainer {
  width: 100%;
  max-width: 1200px;
  margin-top: 34px;
  display: flex;
  gap: 90px;
  flex-direction: column;
  align-items: center;
  font-family: var(--main-font);
}

.title {
  text-align: center;
  font-size: var(--x-large-font);
  font-weight: var(--medium-bold);
}

.subTitle {
  text-align: center;
  font-size: var(--medium-font);
  font-weight: var(--regular-bold);
  margin-top: 10px;
}

.subscribeContainer {
  display: flex;
  align-items: center;
  gap: 20px;
  border-radius: 10px;
  border: 2px solid var(--tertiary-color);
  background-color: var(--secondary-color);
  padding: 0px 50px;
}

.emailInputBox {
  width: 250px;
  padding: 25px 10px;
}

.subscribeBtn {
  background-color: var(--main-color);
  padding: 10px;
  border-radius: 10px;
  color: var(--secondary-color);
}

/* Tablet Size (iPad Air) */
@media only screen and (max-width: 900px) {
  .container {
    height: 20vh;
  }
  .infoContainer {
    width: 660px;
    margin-top: 0;
  }

  .subTitle {
    margin-top: 0;
  }
  .subscribeContainer {
    margin-top: 15px;
  }
}

/* Mobile Size (iPhone XR) */
@media only screen and (max-width: 600px) {
  .container {
    margin: 50px 0 0;
    height: 14vh;
  }
  .infoContainer {
    max-width: 420px;
    margin-top: -30px;
    gap: 10px;
  }
  .title {
    font-size: var(--large-font);
  }
  .subTitle {
    font-size: var(--small-font);
  }
  .subscribeContainer {
    padding: 0px 15px;
  }
  .emailInputBox {
    font-size: var(--x-small-font);
    width: 120px;
    padding: 15px 10px;
  }
  .subscribeBtn {
    font-size: 10px;
    padding: 5px;
  }
}