.container {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--quinary-color);
}

.infoContainer {
  display: flex;
  flex-direction: column;
  padding: 50px 0 20px;
  font-family: var(--main-font);
  color: var(--secondary-color);
}

.infoDescription {
  display: flex;
  gap: 80px;
  align-items: center;
  font-family: var(--main-font);
  color: var(--secondary-color);
}

.description {
  display: flex;
  gap: 50px
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.iconsContainer {
  display: flex;
  gap: 15px;
}

.address {
  width: 200px; 
  font-size: var(--small-font);
}

.links {
  font-size: var(--small-font);
}

.links:hover {
  color: var(--senary-color);
}

.socialIcon {
  transition: transform 0.2s;
}

.socialIcon:hover {
  transform: scale(1.2);
}

.horizontalLine {
  background-color: var(--quaternary-color);
  height: 1px;
  width: 1200px;
  margin: 40px 0 10px;
}

.copyrightText {
  max-width: 1200px;
  width: 100%;
  font-size: var(--small-font);
  text-align: end;
}

/* Tablet Size (iPad Air) */
@media only screen and (max-width: 900px) {
  .infoContainer {
    width: 660px;
  }
  .infoDescription {
      gap: 30px;
  }
  .description {
    gap: 10px
  }
  .iconsContainer {
    gap: 5px;
  }
  .horizontalLine {
    max-width: 660px;
  }
  .copyrightText {
    max-width: 660px;
  }
}

/* Mobile Size (iPhone XR) */
@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }
  .infoContainer {
    width: 420px;
    flex-direction: column;
  }
  .infoDescription {
    flex-direction: column;
    align-items: baseline;
    margin-left: 46px;
  }
  .description {
    flex-direction: column;
    gap: 40px;
  }
  .address {
    width: 170px;
  }
  .horizontalLine {
    display: flex;
    align-self: center;
    max-width: 360px;
  }
  .copyrightText {
    max-width: 390px;
  }
}